.about {
  padding: 4rem 0;
  .headline {
    color: #fff;
    text-align: center;
  }
  .grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      filter: blur(150px);
      background: linear-gradient(to bottom right, rgba(black,.5), rgba(blueviolet, 0.45), rgba(black,.5));
      z-index: -2;
    }
    .left {
      display: grid;
      background: rgba(black,.15);
      padding: 2rem;
      backdrop-filter: blur(25px);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(blueviolet,.05);
        z-index: -1;
        filter: blur(15px);
      }
      p {
        color: #fff;
        margin: 0;
        &.lead {
          font-size: 1.25em;
          font-weight: 500;
          position: relative;
          margin: 0 0 1.5rem 0;
          padding: 0 0 1rem 0;
          &:not(:last-child)::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, cyan, transparent);
          }
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, cyan, cyan);
            filter: blur(10px);
          }
        }
      }
      .details {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin: 2rem 0 0 0;
        article {
          background: rgba(black, .15);
          border: 1px solid rgba(blueviolet, .15);
          padding: 1rem;
          width: 100%;
          h1 {
            font-size: 1.25em;
            color: #fff;
            margin: 0 0 1rem 0;
            position: relative;
            text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
          }
          span {
            color: #fff;
            display: flex;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            position: relative;
            text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
            background: rgba(blueviolet,.15);
            border: 1.5px solid blueviolet;
            padding: .75rem 1rem;
            border-radius: 25px;
            gap: .5rem;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(blueviolet,.5);
              z-index: -1;
              filter: blur(15px);
            }
            svg {
              width: 1.5rem;
              height: 1.5rem;
              stroke: #fff;
            }
            &.available {
              color: cyan;
              background: rgba(cyan,.15);
              border-color: cyan;
              &::before {
                background: rgba(cyan,.25);
              }
              svg {
                stroke: cyan;
              }
            }
          }
        }
      }
    }
    .right {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: -50%;
        left: -50%;
        height: 100%;
        width: 100%;
        margin: auto;
        background-color: blueviolet;
        filter: blur(100px);
        border-radius: 100%;
        opacity: .25;
        z-index: -1;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: auto;
        background-color: cyan;
        filter: blur(100px);
        border-radius: 100%;
        opacity: .25;
        z-index: -1;
      }
      .rightBg {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom right, rgba(blueviolet, .05), transparent, transparent);
        backdrop-filter: blur(25px);
        z-index: -1;
      }
      .rightCircles {
        position: absolute;
        content: "";
        top: 4rem;
        left: 2.74rem;
        width: 15rem;
        height: 15rem;
        border-radius: 100%;
        background: linear-gradient(to bottom right, rgba(cyan,.05), rgba(blueviolet,.15));
        z-index: -1;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(cyan,.25);
          z-index: -1;
          border-radius: 100%;
          filter: blur(15px);
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(blueviolet,.25);
          z-index: -1;
          border-radius: 100%;
          filter: blur(30px);
        }
      }
    }
  }
}