.about {
  margin: 4rem 0 0 0;
  padding: 4rem 0;
  background: linear-gradient(to bottom right, rgba(black,.5), transparent);
  .grid {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      z-index: -10;
      background: radial-gradient(cyan, blueviolet, transparent);
      filter: blur(150px);
      opacity: .5;
    }
    .left {
      display: grid;
      position: relative;
      p {
        color: #fff;
        margin: 0;
        &.lead {
          font-size: 1.25em;
          font-weight: 500;
          position: relative;
          margin: 0 0 2rem 0;
          padding: 0 0 2rem 0;
          &:not(:last-child)::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, cyan, transparent);
          }
          &:not(:last-child)::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, cyan, cyan);
            filter: blur(10px);
          }
        }
      }
      .details {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1rem;
        margin: 2rem 0 0 0;
        article {
          background: rgba(black, .15);
          box-shadow: 0 0 30px -15px black;
          border: 1px solid rgba(blueviolet, .15);
          padding: 1rem;
          width: 100%;
          h1 {
            font-size: 1.25em;
            color: #fff;
            margin: 0 0 1rem 0;
            position: relative;
            text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
          }
          span {
            color: #fff;
            display: flex;
            font-weight: 500;
            align-items: center;
            justify-content: center;
            position: relative;
            text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
            background: rgba(blueviolet,.15);
            border: 1.5px solid blueviolet;
            padding: .75rem 1rem;
            border-radius: 25px;
            gap: .5rem;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(blueviolet,.5);
              z-index: -1;
              filter: blur(15px);
            }
            svg {
              width: 1.5rem;
              height: 1.5rem;
              stroke: #fff;
            }
            &.available {
              color: cyan;
              background: rgba(cyan,.15);
              border-color: cyan;
              &::before {
                background: rgba(cyan,.25);
              }
              svg {
                stroke: cyan;
              }
            }
          }
        }
      }
    }
    .right {
      svg {
        filter: drop-shadow(0 0 25px rgba(cyan,.25));
      }
    }
  }
}

@media(min-width: 640px) {
}
@media(min-width: 768px) {
}
@media(min-width: 1024px) {
  .about {
    .grid {
      display: grid;
      grid-template-columns: minmax(300px, 2fr) minmax(200px, 1fr);
    }
  }
}
@media(min-width: 1280px) {
}
@media(min-width: 1440px) {
}