@import 'variables';

.clients {
  padding: 4rem 0;
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    article {
      display: flex;
      svg {
        fill: #fff;
      }
    }
  }
}