@import 'variables';

.footer {
  background: rgba(black, .75);
  padding: 6rem 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to left, transparent, $secondary, $primary, $secondary, transparent);
    filter: drop-shadow(0 0 2px blue);
    z-index: -1;
  }
  .grid {
    margin: auto;
    display: flex;
    justify-content: space-between;
    a {
      color: rgba(#fff,.5);
      &:hover {
        color: $secondary;
      }
    }
  }
}