@import 'normalize';
@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
  background: #000;
  z-index: 1;
  position: relative;
  line-height: 1.5;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $secondary;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
  font-weight: 700;
}

strong {
  font-weight: 500;
}

mark {
  color: #fff;
  background: none;
  position: relative;
  display: inline-flex;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background: linear-gradient(to right, $secondary, transparent);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background: linear-gradient(to right, $secondary, $secondary);
    filter: blur(10px);
  }
}

.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headline {
  color: #fff;
  text-align: center;
  position: relative;
  z-index: 1;
  text-shadow: 2px 2px 0 $primary;
  filter: drop-shadow(0 0 2px blue);
}

/* Container */
.container {
  max-width: 980px;
  margin: auto;
  padding: 0 1rem;
}
.container-lg {
  max-width: 1280px;
  margin: auto;
  padding: 0 1rem;
}