.header {
  padding: 10rem 0 4rem 0;
  display: flex;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(150px);
    background: linear-gradient(to bottom right, rgba(black,.5), rgba(blueviolet, 0.35), rgba(black,1));
    z-index: -2;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: top;
    z-index: -3;
    opacity: .15;
  }
  .inner {
    text-align: center;
    margin: auto;
    h1 {
      color: #fff;
      font-size: 3rem;
      font-weight: 900;
      line-height: 1.25;
      margin: 0 0 2rem 0;
    }
    h2 {
      color: rgba(cyan, .75);
      font-size: 1.5em;
      margin: 0 0 1rem 0;
    }
    p {
      color: #fff;
      margin: 0;
      background-color: rgba(blueviolet,.05);
      display: inline-block;
      padding: 1rem 2rem;
      border-radius: 25px;
      font-weight: 300;
      a {
        position: relative;
        font-weight: 500;
      }
    }
  }
}