.jumbotron {
  min-height: 100vh;
  padding: 6rem 0;
  display: grid;
  background: darken(#151424,3);
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  &::before {
    content: "";
    position: absolute;
    top: -65%;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgb(192 219 255 / 15%), rgb(192 219 255 / 5%), transparent 50%);
  }
  &::after {
    content: "";
    position: absolute;
    bottom: -65%;
    right: -25%;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: radial-gradient( rgba(teal, .15), transparent 50%);
  }
  .inner {
    z-index: 1050;
    position: relative;
    width: 75em;
    padding: 2rem;
    .left {
      h1 {
        font-weight: 700;
        font-size: 4rem;
        line-height: 1;
        -webkit-letter-spacing: -2px;
        -moz-letter-spacing: -2px;
        -ms-letter-spacing: -2px;
        letter-spacing: -2px;
        color: rgba(255,255,255,0.96);
        text-shadow: 0 0 80px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
        margin-bottom: 2rem;
        margin-top: 0rem;
        width: min-content;
      }
      h2 {
        color: rgba(255, 255, 255, 0.75);
        font-weight: 300;
        line-height: 1.15em;
        margin: 0 0 1rem 0;
        text-shadow: 0 0 40px rgb(192 219 255 / 38%), 0 0 16px rgb(65 120 255 / 24%);
      }
      p {
        color: rgba(255, 255, 255, 0.95);
        background: linear-gradient(to bottom right, blueviolet, blue);
        border: 1px solid darken(blueviolet,25);
        box-shadow: 0 0 50px rgb(192 219 255 / 5%), 0 0 16px rgb(65 120 255 / 5%);
        display: inline-block;
        padding: 1rem 2rem;
        border-radius: .25rem;
      }
    }
    .right {
      .jumbo {
        position: absolute;
        top: 0;
        right: -10%;
        width: 80%;
        height: 100%;
        z-index: -1;
      }
    }
  }
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) {
  .jumbotron {
    .inner {
      .left {
        h1 {
          font-size: 5rem;
        }
        h2 {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .jumbotron {
    .inner {
      width: 85em;
      .left {
        h1 {
          font-size: 7rem;
        }
        h2 {
          font-size: 1.75em;
        }
      }
    }
  }
}