.navbar {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: -10;
    background: radial-gradient(cyan, blueviolet, red, transparent);
    filter: blur(150px);
    opacity: .5;
  }
  nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    display: flex;
    padding: 1em 2rem;
    justify-content: space-between;
    .logo {
      position: absolute;
      display: inline-flex;
      content: "";
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      color: #fff;
      font-size: 2rem;
      font-weight: 900;
      z-index: 1;
      padding: 1.5rem 1rem;
      background: linear-gradient(to bottom, black, transparent);
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom, cyan, transparent, transparent);
        filter: drop-shadow(0 0 2px blue);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 1px;
        height: 100%;
        background: linear-gradient(to bottom, cyan, transparent, transparent);
        filter: drop-shadow(0 0 2px blue);
      }
      span {
        transform: rotate(-45deg);
        text-transform: uppercase;
        position: relative;
        margin: auto;
        text-shadow: 2px 2px 0 blueviolet;
        filter: drop-shadow(0 0 2px blue);
      }
      .c1x {
      }
      .dev {
        margin-left: -27%;
      }
    }
    .navSection {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      a:not(.button) {
        display: inline-flex;
        align-items: center;
        color: #fff;
        &:hover {
          color: cyan;
          text-shadow: 1px 1px 0 blueviolet;
          filter: drop-shadow(0 0 2px blue);
        }
        svg {
          width: 1.5rem;
          stroke: currentColor;
          height: 1.5rem;
        }
      }
      .button {
        text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
        background: rgba(cyan,.15);
        display: inline-flex;
        border: 1.5px solid cyan;
        padding: .5rem 1rem;
        border-radius: 25px;
        gap: .5rem;
        position: relative;
        color: #fff;
        transition: all .15s linear;
        svg {
          width: 1.5rem;
          stroke: currentColor;
          height: 1.5rem;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(cyan,.5);
          z-index: -1;
          filter: blur(15px);
          transition: all .15s linear;
        }
        &:hover {
          box-shadow: 2px 2px 0 0 blueviolet;
          &::before {
            background: rgba(cyan,.65);
          }
        }
      }
    }
  }
}