.projects {
  .headline {
    color: #fff;
    text-align: center;
  }
  .grid {
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      margin: auto;
      z-index: -10;
      background: radial-gradient(cyan, blueviolet, transparent);
      filter: blur(150px);
      opacity: .5;
    }
    & > a {
      border-radius: .5rem;
      &:nth-child(odd) {
        background: linear-gradient(to right, transparent, rgba(black,.75));
      }
      &:nth-child(even) {
        background: linear-gradient(to left, transparent, rgba(black,.75));
      }
      &:hover {
        &:nth-child(odd) {
          background: linear-gradient(to right, rgba(black,.25), rgba(black,.75));
        }
        &:nth-child(even) {
          background: linear-gradient(to left, rgba(black,.25), rgba(black,.75));
        }
      }
      article {
        padding: 1rem;
        transition: all .15s linear;
        width: 100%;
        height: 100%;
        hr {
          position: relative;
          border: none;
          padding: 1rem 0;
          display: block;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            margin: auto;
            background: linear-gradient(to right, cyan, transparent);
          }
          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            margin: auto;
            background: linear-gradient(to right, cyan, cyan);
            filter: blur(10px);
          }
        }
        header {
          span {
            text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
            background: rgba(cyan,.15);
            padding: .25rem .75rem;
            border-radius: 25px;
            font-weight: 700;
            font-size: 75%;
            gap: .5rem;
            position: relative;
            margin: 0 0 .5rem 0;
            display: inline-block;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(cyan,.5);
              z-index: -1;
              filter: blur(15px);
            }
          }
          h1 {
            margin: 0;
            color: #fff;
          }
          p {
            color: #fff;
            margin: 0;
          }
        }
        .techstack {
          h1 {
            font-size: 1.15em;
            margin: 0 0 1rem 0;
            color: cyan;
          }
          ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            gap: 1rem;
            li {
              text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 16px rgb(65 120 255 / 24%);
              background: rgba(cyan,.15);
              border: 1.5px solid cyan;
              padding: .25rem .75rem;
              border-radius: 25px;
              font-weight: 500;
              gap: .5rem;
              position: relative;
              color: #fff;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(cyan,.5);
                z-index: -1;
                filter: blur(15px);
              }
            }
          }
        }
      }
    }
  }
}