$sourceColor: #151424;
$background: darken($sourceColor,5);

.techstack {
  padding: 8rem 0;
  overflow: hidden;
  position: relative;
  header {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    h1 {
      margin: auto;
      font-weight: 700;
      font-size: 3em;
      line-height: 1;
      -webkit-letter-spacing: -2px;
      -moz-letter-spacing: -2px;
      -ms-letter-spacing: -2px;
      letter-spacing: -2px;
      color: rgba(255,255,255,0.96);
      text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
      margin-bottom: 2rem;
      margin-top: 0rem;
      width: min-content;
    }
  }
  .wrapper {
    padding: 4rem;
    background: radial-gradient(darken($sourceColor,10), darken($sourceColor,2));
    box-shadow: 0 0 40px rgb(192 219 255 / 8%), 0 0 32px rgb(65 120 255 / 4%);
    .grid {
      display: grid;
      margin: 0 -6rem;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 2rem;
      article {
        background-color: lighten($sourceColor,3);
        h1 {
          margin: 0;
          padding: 1rem 2rem;
          color: #fff;
          background-color: lighten($sourceColor,1);
          text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
        }
        ul {
          list-style: none;
          padding: 1rem 2rem;
          margin: 0;
          color: lighten($sourceColor,75);
          display: grid;
          gap: .75rem;
        }
      }
    }
  }
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}