$sourceColor: #151424;
$background: darken($sourceColor,5);

.techstack {
  padding: 8rem 0;
  overflow: hidden;
  position: relative;
  header {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    h1 {
      margin: auto;
      font-weight: 700;
      font-size: 3em;
      line-height: 1;
      -webkit-letter-spacing: -2px;
      -moz-letter-spacing: -2px;
      -ms-letter-spacing: -2px;
      letter-spacing: -2px;
      color: rgba(255,255,255,0.96);
      text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
      margin-bottom: 2rem;
      margin-top: 0rem;
      width: min-content;
    }
  }
  .wrapper {
    z-index: 2;
    position: relative;
    background: rgba(darken($sourceColor,3),.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid darken($sourceColor, 5);
    article {
      color: #fff;
      &:nth-child(odd) {
        background: rgba(darken($sourceColor,1),.5);
      }
      h1 {
        margin: 0;
        padding: 1rem 2rem;
        background: rgba(darken($sourceColor,6),.5);
      }
      ul {
        list-style: none;
        margin: 0;
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        li {
          padding: .5rem 1rem .5rem 2.5rem;
          background: rgba(darken($sourceColor, 5), .85);
          position: relative;
          font-weight: 500;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 1rem;
            bottom: 0;
            margin: auto;
            width: .75em;
            height: .75em;
            border-radius: 50%;
            background: radial-gradient(teal, transparent);
          }
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 1rem;
            bottom: 0;
            margin: auto;
            width: .75em;
            height: .75em;
            border-radius: 50%;
            background: teal;
            filter: blur(10px);
          }
          &:hover {
            &::before {
              background: radial-gradient(blueviolet, transparent);
            }
            &::after {
              background: blueviolet;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}