$sourceColor: #151424;
$background: darken($sourceColor,5);

.techstack {
  padding: 8rem 0;
  overflow: hidden;
  position: relative;
  header {
    display: grid;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    h1 {
      margin: auto;
      font-weight: 700;
      font-size: 3em;
      line-height: 1;
      -webkit-letter-spacing: -2px;
      -moz-letter-spacing: -2px;
      -ms-letter-spacing: -2px;
      letter-spacing: -2px;
      color: rgba(255,255,255,0.96);
      text-shadow: 0 0 40px rgb(192 219 255 / 48%), 0 0 32px rgb(65 120 255 / 24%);
      margin-bottom: 2rem;
      margin-top: 0rem;
      width: min-content;
    }
  }
}

@media (min-width: 576px) { }

@media (min-width: 768px) { }

@media (min-width: 992px) { }

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}